<div class="selectServiceClass">
    <div class="palm-list">
        <div class='palm-button service-button' id="yahButtonId" x-mojo-tap-highlight="momentary" style="">
            <div class="palm-button-wrapper">
                <div class="palm-account-icon icon button slyahoo">
                </div>
                <div id="yahButtonLabel">
                </div>
            </div>
        </div>
        <div class='palm-button service-button' id="msnButtonId" x-mojo-tap-highlight="momentary" style="">
            <div class="palm-button-wrapper">
                <div class="palm-account-icon icon button slmsn">
                </div>
                <div id="msnButtonLabel">
                </div>
            </div>
        </div>
        <div class='palm-button service-button' id="aimButtonId" x-mojo-tap-highlight="momentary" style="">
            <div class="palm-button-wrapper">
                <div class="palm-account-icon icon button slaim">
                </div>
                <div id="aimButtonLabel">
                </div>
            </div>
        </div>
        <div class='palm-button service-button' id="icqButtonId" x-mojo-tap-highlight="momentary" style="display:none;">
            <div class="palm-button-wrapper">
                <div class="palm-account-icon icon button slicq">
                </div>
                <div id="icqButtonLabel">
                </div>
            </div>
        </div>
        <div class='palm-button service-button' id="jabButtonId" x-mojo-tap-highlight="momentary" style="">
            <div class="palm-button-wrapper">
                <div class="palm-account-icon icon button slgtalk">
                </div>
                <div id="jabButtonLabel">
                </div>
            </div>
        </div>
        <div class='palm-button service-button' id="facButtonId" x-mojo-tap-highlight="momentary" style="">
            <div class="palm-button-wrapper">
                <div class="palm-account-icon icon button slface">
                </div>
                <div id="facButtonLabel">
                </div>
            </div>
        </div>
        <div class='palm-button service-button' id="xmppButtonId" x-mojo-tap-highlight="momentary" style="">
            <div class="palm-button-wrapper">
                <div class="palm-account-icon icon button slxmpp">
                </div>
                <div id="xmppButtonLabel">
                </div>
            </div>
        </div>
        <center>
            <div id="fullVersionPrompt" style="display:none;">
                Oops! no more service available. Click the buy button to buy full version.
            </div>
        </center>
        <div class='palm-button buy-button' id="buyButtonId" x-mojo-tap-highlight="momentary" style="display:none;">
            <div class="palm-button-wrapper">
                <div id="buyButtonLabel">
                </div>
            </div>
        </div>
        <div class='palm-button cancel-button' id="cancelButtonId" x-mojo-tap-highlight="momentary">
            <div class="palm-button-wrapper">
                <div id="cancelButtonLabel">
                </div>
            </div>
        </div>
    </div>
</div>
