<table width=100%>
    <tr>
        <tr>
            <div>
                <center>
                    Change Your Status
                </center>
            </div>
        </tr>
        <tr>
            <td align=left>
                <div id="buddyStatusTag">
                </div>
            </td>
            <td align=right colspan=2>
                <input type="text" id="buddyStatus" class="ipt-group" style="align:right; width:150px;">
                </input>
            </td>
        </tr>
        <tr>
            <td align=right>
                <div id="buddyStatusList" x-mojo-element="ListSelector" style="display:none">
                </div>
            </td>
        </tr>
        <tr>
            <td width="50%">
                <div id="add" class="palm-button affirmative buttonfloat">
                </div>
            </td>
            <td width="50%">
                <div id="cancel" class="palm-button negative buttonfloat">
                    <div>
                    </td>
                </tr>
                </tr>
            </table>
