<div class="palm-page-header">
    <div class="palm-page-header-wrapper">
        <div id="serviceIcon" class="">
        </div>
        <div class="title" id="serviceHeaderId" x-mojo-tap-highlight="momentary">
        </div>
        
    </div>
</div>
<div class="palm-group">
    <div id = "titleId" class="palm-group-title" x-mojo-loc=''>
        Username
    </div>
    <div class="palm-list">
        <div class="palm-row single">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                <div class="title">
                    <div id="usrId" x-mojo-element="TextField">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="palm-group">
    <div id = "titleId" class="palm-group-title" x-mojo-loc=''>
        Password
    </div>
    <div class="palm-list">
        <div class="palm-row single">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                <div class="title">
                    <div id="pswdId" x-mojo-element="PasswordField">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="palm-list" style="display:none;">
    <div class="palm-row single">
        <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
            <div class="title">
                <div id="rememberMeId" x-mojo-element="CheckBox">
                </div>
                <div id="rememberMeDivId" style="font-size:14px;">
                </div>
            </div>
            <!--div class="title">
            <div id="invisibleSignInId" x-mojo-element="CheckBox">
            </div>
            <div id="invisibleSignInDivId" style="font-size:14px;">
            </div>
            </div-->
        </div>
    </div>
</div>
<br/>
<div class="palm-row single">
    <table width=100% border="0">
        <tr>
            <td width="50%">
                <div id="imageFieldIdDiv">
                    <img id="imageFieldId" class="avatar-location-addaccount" width="34px" height="34px" src="images/default-avatar.png" />
                    <img class="avatar-overlay-addaccount" width="42px" height="42px" src="images/avatar-frame.png" />
                </div>
            </td>
            <td width="50%">
                <div id="selectHelp" class="palm-button">
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="palm-row single">
    <table width=100%>
        <tr>
            <td width="50%">
                <div id="submitId" class="palm-button">
                </div>
            </td>
            <td width="50%">
                <div id="cancelId" class="palm-button">
                </div>
            </td>
        </tr>
    </table>
</div>
</div>
