<div class="loginClass">
    <div class="palm-header">
        Home
    </div>
    <div class="palm-header-spacer">
    </div>
    <div style="text-align:center">
        <div id="start">
            <br/>
            <br/>
            <br/>
            To start using mundu IM
            <br/>
            <br/>
            add your IM accounts
        </div>
        <div id="accountList" x-mojo-element="List" class="">
        </div>
    </div>
    <div class="palm-header-spacer">
    </div>
    <center>
        <div id="overlay" class="overlayDiv" style="height: 480px; width: 320px; display: none;">
            <div id="spinner" x-mojo-element="Spinner" class="spinnerClass spinnerLoader">
            </div>
        </div>
    </center>
</div>
