<table width="100%">
    <tr>
        <td>
            <div id="lblpwd" style="color:black"></div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="palm-list">
                <div class="palm-row single">
                    <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                        <div class="title">
                            <div id="password" x-mojo-element="PasswordField">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>

<table width="100%">
    <tr>
        <td width="50%"><div id="ok" class="palm-button">OK</div></td>
        <td width="50%"><div id="cancel"  class="palm-button">Cancel<div></td>
    </tr>   
</table>