<div class="about">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div>
        <center>
            v 1.0.2
            <br/>
            <div id="buildId">
                Build 14441
            </div>
            <br/>
            © Geodesic Limited
            <br/>
            All rights reserved
            <br/>
            <br/>
            <br/>
            <div id="munduSite">
                <a href="http://www.mundu.com/">www.mundu.com/</a>
            </div>
            <div id="mundu_support">
                <a>imsupport@mundu.com</a>
            </div>
        </center>
    </div>
</div>
