<!--div class="palm-body-text">
<table width=100%>
<tr>
<td>
<div style="color:grey;">
Add a buddy
</div>
</td>
<tr>
<td align=left style="color:grey;">
</td>
<td align=right colspan=2>
</td>
</tr>
<tr>
<td align=left style="color:grey;">
<div id="buddyNameTag">
</div>
</td>
<td align=right colspan=2>
<input type="text" id="addBuddyName" style="align:right; width:150px;">
</input>
</td>
</tr>
<tr>
<td align=left>
<div id="buddyGroupTag" style="color:grey;">
</div>
</td>
<div class="palm-list">
<td align=right colspan=2>
<input type="text" id="addBuddyToGroup" class="ipt-group" style="align:right; width:150px;">
</input>
</td>
</tr>
<td>
<div id="errorDiv" align=center style="color:black; width:200%">
</div>
</td>
<tr>
<td width="50%">
<div id="add" class="palm-button affirmative buttonfloat">
</div>
</td>
<td width="50%">
<div id="cancel" class="palm-button negative buttonfloat">
</div>
</td>
</tr>
</tr>
</table>
</div-->
<div class="palm-group">
    <div class="palm-group-title" x-mojo-loc=''>
        Add To
    </div>
    <div class="palm-list">
        <div class="palm-row first" x-mojo-tap-highlight="momentary">
            <div class="palm-row-wrapper">
                <div id="accountSelector" x-mojo-element="ListSelector">
                </div>
            </div>
        </div>
        <div class="palm-row" x-mojo-tap-highlight="momentary">
            <div class="palm-row-wrapper">
                <div id="groupSelector" x-mojo-element="ListSelector">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="palm-group">
    <div class="palm-group-title" x-mojo-loc=''>
        Contact Name
    </div>
    <div class="palm-list">
        <div class="palm-row single">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                <div class="title">
                    <div id="addBuddyName" x-mojo-element="TextField">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="palm-group">
    <div class="palm-group-title" x-mojo-loc=''>
        Alias
    </div>
    <div class="palm-list">
        <div class="palm-row single">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                <div class="title">
                    <div id="addBuddyAlias" x-mojo-element="TextField">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<table width=100%>
    <tr>
        <td width="50%">
            <div id="add" class="palm-button buttonfloat">
            </div>
        </td>
        <td width="50%">
            <div id="cancel" class="palm-button buttonfloat">
            </div>
        </td>
    </tr>
</table>
